*{
    font-family: coolvetica;
}
body{
    margin:  0%;
}
.container{
    position: absolute;
    width: 80%;
    height: 100%;
    left: 10%;
    display: flex;
}
.logo{
    display: flex;
    height: 300px;
}
.left{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
}
.right{
 display: flex;
 width: 50%;
 justify-content: right;
}
.btn{
    border-radius: 20px;
    border:solid 1px grey;
    width: 60%;
    margin: 0px;
    padding: 8px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn_blue{
    background-color: rgb(78, 140, 255);
    border: solid 5px rgb(78, 140, 255);
}
.linea{
    vertical-align: middle;
    width: 28%;
    display: inline-block;
    
}
h1{
    font-size: 80px;
}
h2{
    font-size: 60px;
}
@font-face {
    font-family: coolvetica;
    src: url(../fonts/coolvetica/coolvetica\ rg.otf);
}
.terminos{
    width: 60%;
    font-size: 12px;
}
.text-blue{
    color: rgb(78, 140, 255);
}
.tienes{
    margin-top: 70px;
}